.calculator {
  padding: 20px 25px 45px;
  width: 300px;
  min-width: 300px;
  box-sizing: border-box;

  background: radial-gradient(ellipse farthest-corner at 20% 65%, #525864, #130f0e);

  color: rgba(255, 255, 255, .8);
  font-family: 'Overpass Mono', monospace;

  border-top-left-radius: 100% 30px;
  border-top-right-radius: 100% 30px;
  border-bottom-left-radius: 100% 60px;
  border-bottom-right-radius: 100% 60px;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7),
    0 0 20px 0 rgba(0, 0, 0, .5),
    0 0 25px 0 rgba(0, 0, 0, .3),
    10px 0 4px 10px rgba(0, 0, 0, .3),
    inset 0 0 3px 0 rgba(0, 0, 0, .7),
    inset 0 0 10px 0 rgba(0, 0, 0, .5),
    inset 0 -25px 5px 0 rgba(0, 0, 0, .2),
    inset 0 -5px 10px 0 rgba(255, 255, 255, .3);
}
